<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- required = "required" meta tags -->
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
<link href="css/main.css" rel="stylesheet"></link>

<title>Spring Boot File Upload / Download Rest API Example</title>

<!-- Bootstrap CSS -->
</head>
<body>
	<noscript>
		<h2>Sorry! Your browser doesn't support Javascript</h2>
	</noscript>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">



		<div>
			<table class="table table-striped">
				<h3>文件列表</h3>
				<thead>
					<tr>
						<th>序号</th>
						<th>文件名</th>
						<th>字数</th>
						<th>累计隐私值</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="fileMode,fileModeStat : ${fileModes}">
						<td th:text="${fileModeStat.count}"></td>
						<td th:text="${fileMode.fileName}"></td>
						<td th:text="${fileMode.wordCount}"></td>
						<td th:text="${fileMode.sensitiveValue}"></td>
						<td><a th:href="@{'/file' + ${fileMode.id}}" type="button" class="btn btn-primary  btn-sm"
								style="margin-right: 15px;">访问</a>
							<a th:id="${fileMode.id}" type="button" class="deleteButton btn btn-primary  btn-sm"
								style="margin-right: 15px;">删除</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr></hr>

		<div class="single-upload">
			<h3>文件上传</h3>
			<form id="singleUploadForm" name="singleUploadForm">
				<input id="singleFileUploadInput" type="file" name="file"
					class="file-input" required="required"></input>

				<button type="submit" class="primary submit-btn">Submit</button>
			</form>
			<div class="upload-response">
				<div id="singleFileUploadError"></div>
				<div id="singleFileUploadSuccess"></div>
			</div>
		</div>
		
		<div th:replace="fragments/footer :: footer(libs='fileUpload, main')"></div>
	</div>
	
</body>
</html>
