<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
<title>敏感词设置</title>

<!-- Bootstrap CSS -->
</head>
<body>
	<noscript>
		<h2>Sorry! Your browser doesn't support Javascript</h2>
	</noscript>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<div>
			<table class="table table-striped">
				<caption>文件列表</caption>
				<thead>
					<tr>
						<th>序号</th>
						<th>敏感词</th>
						<th>隐私值</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>敏感词</td>
						<td>0.8</td>
						<td><button type="button" class="btn btn-primary  btn-sm"
								style="margin-right: 15px;">访问</button>
							<button type="button" class="btn btn-primary  btn-sm"
								style="margin-right: 15px;">删除</button></td>
					</tr>					
				</tbody>
			</table>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>
</html>
